<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-styles" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag('plane-2') %><span class="logo">AirportRun</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#about">Sign up</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Current Users</a>
                    </li> -->
                    <!-- <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Main Section -->
    <section id="intro" class="home-section home">
      <div class="container">
        <div class="row">
          <span class="col-xs-8 pull">Refer Hotel Guests.  Get Cash</span>
        </div>
        <div class="row">
          <div class="col-md-8 homepage_copy">AirportRun is a fast ride service to help hotel guests get to the airport.  You make money for each guest that you refer.</div>
        </div>
        <div class="row" id="homepage-button-row">
          <div class="col-md-3">
            <a href="#sign-up-page" class="ghost-button">Sign-Up<a>
          </div>
          <div class="col-md-3">
            <a href="#current-users-page" class="ghost-button">Current Users<a>
          </div>
        </div>
      </div>
    </section>

    <!-- Sign Up Section -->
    <section id="sign-up-page" class="sign-up-section">
        <div class="container">
          <h3 class="headline">New User Sign-Up - It's Quick & Easy</h3>
          <p class="text-center signup-page-copy">No Passwords or complex registration.  To get started choose the hotel you work at, an icon and nickname.</p>
            <div class="row">
                <div class="col-lg-12">
                  <div class="sign-up" id="sign-up-form">
                <%= form_for :user, :url => users_path, :remote=>true, :id => 'create_new_user' do |f| %>
                  <div class="form-group">
                    <%= f.select(:hotel_name, options_for_select([["Select Your Hotel",""],["Marriott","Marriott"],["Sheraton","Sheraton"],["Hilton","Hilton"],["Hyatt Regency","Hyatt Regency"],["Crowne Plaza","Crowne Plaza"],["Holiday Inn","Holiday Inn"]]), {}, class: "custom-select form-control") %>
                  </div>
                  <div class="form-group position-relative">
                    <%= f.label :nickname, "Choose A Nickname", class: "control-label-hide", id: "nickNameLabel" %>
                    <%= f.text_field :nickname, { id: "nickname-input", class: "form-control", type: "text", placeholder: "Choose A Nickname" } %>
                  </div>
                  <button type="button" class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#myModal" id="select-icon-btn">Select An Icon</button>
                  <div id="show-user-icon">
                      <div class="row">
                        <div class="col-sm-3">
                          <span id="user-icon"></span>
                        </div>
                        <div class="col-sm-9">
                          <button type="button" class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#myModal" id="select-icon-btn">Choose A New Icon</button>
                        </div>
                      </div>
                      </div>
                      <%= f.submit 'user', { value: "Submit", id: "submitUser", class: "btn btn-block btn-lg btn-success" }%>
                      <% end %>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Current Users Section -->
    <section id="current-users-page" class="current-users-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <div class="users">
                    <p>Current Users:</p>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>
   <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR4VVlIs3tREWzRrxd0j6BquoEU-yUFGg&callback=initMap">
    </script>
</body>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header" id="icon-modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" id="close-button">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Select an Icon</h4>
  </div>
  <div class="modal-body">
    <% @icons.each do |icon| %>
    <a class="icons" href="javascript:void(0);">
      <%= image_tag(icon.gsub("app/assets/images/", ""), size: 85, class: 'icon-box' ) %>
    </a>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-block btn-lg btn-danger" data-dismiss="modal">Exit</button>
  </div>
</div>
</div>
</div>

</html>
