<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <%= render 'welcome/nav' %>
  <!-- Main Section -->
  <section id="intro" class="home-section home">
    <%= render 'welcome/main-section' %>
  </section>

  <!-- Sign Up Section -->
  <section id="sign-up-page" class="sign-up-section">
    <%= render 'welcome/sign-up-section' %>
  </section>

    <!-- Current Users Section -->
  <section id="current-users-page" class="current-users-section">
    <%= render 'welcome/current-users-section' %>
  </section>

    <!--FAQ Section -->
  <section id="contact" class="contact-section">
    <%= render 'welcome/faq-section' %>
  </section>
</body>

<!-- Modals -->
<%= render 'modals/icons' %>
<%= render 'modals/ride-request-from-hotel' %>
<%= render 'modals/allow-location-request' %>
<!-- End of Modals -->

  <!-- remove key from script below.  This should really be in the secrets.yml file -->
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR4VVlIs3tREWzRrxd0j6BquoEU-yUFGg&callback=initMap">
  </script>
</html>
