<div class="modal fade" id="rideRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="hidMod">

    <div id="slider-main">
      <div class="slider-content">
      <div class="modal-header ride-request-modal-header">
                <h4 class="modal-title ontyme-title" id="myModalLabel1">Ride Request - Your Destination</h4>
      </div>
      <div class="modal-body" id="rideRequestModalBody">
        <div class="shift-div" id="div1">Where are you going?</div>
        <p>Easy Search</p>
        <input id="destinationField" type="text" size="50" onkeyup="searchForAddress()">
        <div id="listOfAddresses"><p>&nbsp;</p></div>
        <p>-- or --</p>
        <p>Enter destination yourself</p>
        <%= form_for :trip_requests do |f|  %>
          <p>
          <%= f.label :Street %><br>
          <%= f.text_field :destination_street, :value => "" %> </p>
          <p>
          <%= f.label :City %><br>
          <%= f.text_field :destination_city, :value => "" %>
          <%= f.label :State %><br>
          <%= f.text_field :destination_state, :value => "" %>
          <%= f.label :Zip_code %><br>
          <%= f.text_field :destination_postalcode, :value => "" %>
          <%= f.hidden_field :destination_longitude, :value => "" %>
          <%= f.hidden_field :destination_latitude, :value => "" %>
          <%= f.hidden_field :map_provider_destination_id, :value => "" %>
          <%= f.hidden_field :map_provider_destination_slug, :value => "" %>
          </p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sliderNextBtn" onclick="void(0)">Next</button>
      </div>
      </div> <!-- end div id="slider-content" -->

      <div class="slider-content" id="content2">
      <div class="modal-header ride-request-modal-header">
      <h4 class="modal-title ontyme-title" id="myModalLabel2">Your Pickup Location</h4>
      </div>
      <div class="modal-body" id="here2">
        <div class="shift-div" id="div1">Where are we picking you up from?</div>
        <div id="find-me-div"><button type="button" class="btn btn-info" onclick="findMe()">Find Me</button></div>
        <!-- <div id="myLocationDiv"><p>&nbsp;</p></div> -->
        <p>-- or --</p>
        <p>
          <%= f.label :Street %><br>
          <%= f.text_field :pickup_street, :value => ""  %> </p>
          <p>
          <%= f.label :City %><br>
          <%= f.text_field :pickup_city, :value => ""   %>
          <%= f.label :State %><br>
          <%= f.text_field :pickup_state, :value => ""   %>
          <%= f.label :Zip_code %><br>
          <%= f.text_field :pickup_postalcode, :value => ""   %>
          <%= f.hidden_field :pickup_longitude, :value => ""   %>
          <%= f.hidden_field :pickup_latitude, :value => ""   %>
          <%= f.hidden_field :map_provider_pickup_id, :value => ""   %>
          <%= f.hidden_field :map_provider_pickup_slug, :value => ""   %>
          <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sliderBackBtn" onclick="void(0)">Back</button>
        <button type="button" class="btn btn-primary" onclick="submitTripRequestForm()">Finished, request ride</button>
      </div>
      </div> <!-- end div id="slider-content" -->
      
      </div> <!-- end div id="slider-main" -->


      <div class="modal-footer ride-request-modal-footer">

      </div>
    </div>
  </div>
</div>